.App {
  width: 600px;
  margin: 0 auto;
  font-size: 20px;
}

.Message-list {
  list-style: none;
  padding: 0;
  max-height: 80vh;
  overflow: auto;
}

.Message-item {
  line-height: 1.5;
  margin: 0.75em 0;
}

.Message-author {
  font-weight: 500;
}
.Message-author::after {
  content: ':';
}

.Message-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Message-input {
  flex: 1;
  border: none;
  margin-right: 1px;
}

.Message-submit-button {
  border: none;
}
